# =========================
# PHP / Composer
# =========================

backend/vendor/
backend/var/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Système
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# PHPUnit
# =========================

backend/.phpunit.cache/

# =========================
# PHPStan
# =========================

backend/.phpstan/

# =========================
# PHP CS Fixer
# =========================

backend/.php-cs-fixer.cache

# =========================
# Database SQLite
# =========================

backend/database/*.sqlite